ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;

}

/* Write your CSS below, don't change the rules above. */
a[href]{
  color: #1B1A17;
 }
img{
  box-align: center;
}
html{
  background-color: #F0E3CA
}
*{
  text-align: left, top
}
div{
  border: 0px none none;
}
.logo-bar {
  display:inline-block;
  width: 400px
}
.NavBox {
  background-color: #C1D8C3; width: 100px; padding-bottom:10px; float:left;
}
.logo-fox {
  display: inline-block;
  width: 400px;
}
.logo-text {
  display: inline-block;
  width: 400px;
}